/* TODO: Make it awesome 

style sheet for Bus Mall
color scheme  from https://color.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=0&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.6830212704873081,0.11629393149805989,0.7,0.9738209736269482,0.09999999999999998,1,0.9709121929188314,0,1,0.2702297807586319,0.7,0,0.38604254394090276,1,0&swatchOrder=0,1,2,3,4

HEX
background: FB19FF
text: 43B200
hyperlink: 5FFF00

*/